<div class="col-xs-6 col-sm-6 col-md-3 restaurant" ng-repeat='restaurant in restaurants'>
  <div class="thumbnail restaurant-content">
    <figure>
      <img src="{{restaurant.photo}}" alt="{{restaurant.name}}" />
    </figure>
    <div class="caption">
      <div class="restaurant-description">
        <h3>{{restaurant.name}}</h3>
        <p>Address:{{restaurant.address}}</p>
        <p class="restaurant-cuisine">Type: {{restaurant.type}}</p>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="#restaurant" class="btn btn-primary btn-md view-button">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>