<div class="row restaurant-detail" ng-controller="RestaurantDetailController">
  <div class="col-md-4">
    <img src="{{restaurant.photo}}" alt="{{restaurant.name}}" />
  </div>
  <div class="col-md-8">
    <h2>{{restaurant.name}}</h2>
    <p>{{restaurant.address}}</p>
    <hr/>
    <div class="review-button-toolbar" class="btn-toolbar">
      <div class="btn-group">
        <a href="#!/restaurants/{{restaurant.id}}/review" class="btn btn-primary btn-sm">Review Restaurant</a>
      </div>
    </div>
    <div data-ng-repeat="review in restaurant.reviews">
      <div class="panel panel-default panel-xs">
        <div class="panel-body">
          <h4>{{review.author}}</h4>
          <p>{{review.comment}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
